body {
background-color:#c00;
padding-left:25px;
padding-right:25px;
}

header {

}
#top-header {
height:120px;
}
#navigation {
  margin: 0 ;
  padding: 0 ;
  list-style: none;
}

#navigation li {
  float: left ;
  width: 150px ;
  border: 1px solid #600 ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}


#navigation li a {
  display: block ;
  background: #c00 ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  padding: 4px 0 ;
  text-align: center ;
  text-decoration: none
}
#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #900 ;
}

#main-container{
width:100%;
background-color:white;
}

#main-container h2{
padding-top: 10px;
}

footer {
height:30px;
background-color:#c00;
color:white;
text-align:center;
}

@media (max-width: 550px) {
	#navigation li {width:100%; padding-top:20px;}
	#navigation li a {line-height: 2em;}
	body {padding-left:5px; padding-right:5px;}
	.facebook {
		min-height:265px !important;
		width:100% !important;
	}
	#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
	line-height: 2em;
	}
}